body {
    background-color: black;
    color:hsl(0, 0%, 100%);
    display:flex;
    justify-content:center;
}
.text {
    color: green;
}
.container {
    align-items:center;
    background-color: hsl(0, 0%, 12%);
    margin:10%;
    padding:10%;
    margin-bottom: 5%;
    border-radius:5%;
    
}

 img {
    border-radius:50%;
}
.btn1  {
     width:100%;
     background-color:  hsl(0, 0%, 20%)
     
}